@font-face {
    font-family: "open-sans";
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'open-sans-bold';
    src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'open-sans-italic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'open-sans-light';
    src: url('../assets/fonts/Open_Sans/OpenSans-Light.ttf');
}

.hub-main-banner {
    background-image: url('../assets/images/about.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.hub-overlay {
    background-color: rgba(45, 45, 45, 0.5);
    width: 100%;
    height: 400px;
}

.hub-overlay-head {
    padding-top: 15%;
    text-align: center;
    color: #fff;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 44px;
}

.about-main-banner {
    background-image: url('../assets/images/about-bg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.global-main-banner {
    background-image: url('../assets/images/global.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.leadership-main-banner {
    background-image: url('../assets/images/leadership.jpeg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.team-main-banner {
    background-image: url('../assets/images/team.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

/* knowledge hub */

.Knowledge-main-banner {
    background-image: url('../assets/images/knowledge-hub.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.vision-main-banner {
    background-image: url('../assets/images/efarming1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.coaliation-main-banner {
    background-image: url('../assets/images/vision-hero-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.content-head {
    padding-top: 5%;
    text-align: center;
    color: #2980b9;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;
}

.content-data {
    text-align: center;
    padding: 2% 10% 0% 10%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.coalition-content-data {
    text-align: left;
    padding: 2% 0% 0% 0%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.coalition-ul {
    padding-left: 10%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.india-content-head {
    padding-top: 5%;
    text-align: left;
    color: #2980b9;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;
}

.india-content-data {
    text-align: left;
    padding: 2% 0% 0% 0%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.india-ul {
    padding-left: 10%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.leadership-head {
    padding-top: 5%;
    text-align: left;
    color: #2980b9;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;
}

.leadership-data {
    text-align: left;
    padding: 2% 0% 0% 0%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.nav-pills {
    margin-top: 5%;
}

.pills-li {
    padding: 1%;
    border-bottom: 1px solid #b7b7b7;
}

.pills-li a {
    font-size: 20px;
    font-weight: 700;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: #b7b7b7;
}
.tab-content{
    border-bottom: 1px solid #b7b7b7;
}

.act {
    color: #2980b9;
    border-bottom: 2px solid #2980b9
}
.act a{
    color: #2980b9;
}

.hub-content {
    padding: 5% 2% 5% 2%;
}

.mission-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

/* .vision-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
} */

.mission-row {
    padding: 5% 0% 5% 5%;
}

.mission-content-head {
    padding-top: 5%;
    text-align: left;
    color: #2980b9;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;
}

.mission-content-data {
    text-align: left;
    padding: 5% 10% 0% 2%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.vision-row {
    padding: 5%;
    /* background-color: #2980b9; */
    background-image: url('../assets/images/vision.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.vision-content-head {
    padding-top: 2%;
    text-align: center;
    color: #fff;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;
}

.vision-content-data {
    text-align: center;
    padding: 5% 10% 0% 2%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.vision-header-line {
    border: 1px solid #6bb46d;
    width: 10rem;
    margin-left: 29.5rem;
}

.vision-content {
    background-color: rgba(41, 128, 185, 0.5);
    padding: 0% 5% 5% 5%;
}

.header-line {
    border: 1px solid #6bb46d;
    width: 10rem;
    margin-left: 18rem;
}

.mission-header-line {
    border: 1px solid #6bb46d;
    width: 10rem;
}

.leadership-line {
    border: 1px solid #6bb46d;
    width: 15rem;
    margin-left: 1rem;
}

.overview-line {
    border: 1px solid #6bb46d;
    width: 10rem;
    margin-left: 1%;
}

.overview-head {
    padding-top: 5%;
    text-align: left;
    color: #2980b9;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;
}

.overview-data {
    text-align: left;
    padding: 2% 0% 0% 1%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.overview-list {
    margin: 0% 0% 5% 5%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.knowledge-content-head {
    padding-top: 5%;
    text-align: left;
    color: #2980b9;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 700;
}

.knowledge-content-data {
    text-align: left;
    padding: 2% 0% 0% 1%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.knowledge-header-line {
    border: 1px solid #6bb46d;
    width: 25rem;
}

.stories-card-front {
    background-image: url('../assets/images/initiatives-banners.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.resource-card-front {
    background-image: url('../assets/images/resource.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.person-card-front {
    background-image: url('../assets/images/res-person.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.children-card-front {
    background-image: url('../assets/images/child.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.youth-card-front {
    background-image: url('../assets/images/youth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.citizen-card-front {
    background-image: url('../assets/images/citizens.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.farmer-card-front {
    background-image: url('../assets/images/farmer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.market-card-front {
    background-image: url('../assets/images/market.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.network-card-front {
    background-image: url('../assets/images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
    border-bottom-right-radius: 40%;
}

.hub-card-data {
    height: 12.5rem;
    background-color: rgba(41, 128, 185, 1);
    position: relative;
    top: 12.5rem;
    margin-left: -1px;
    margin-right: -1px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.hub-card-data:hover {
    top: 0px;
    height: 25rem;
    margin: -1px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    transition: 1s;
    background-color: rgba(41, 128, 185, 0.5);
}

.stories-card-front:hover, .resource-card-front:hover, .person-card-front:hover, .children-card-front:hover, .youth-card-front:hover, .citizen-card-front:hover, .farmer-card-front:hover, .market-card-front:hover, .network-card-front:hover {
    transition: 1s;
}

.hub-card-data .resource-head {
    padding: 20% 5% 0% 5%;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'open-sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.hub-card-data:hover .resource-head {
    display: none;
}

.resource-data {
    display: none;
}

.hub-card-data:hover .resource-data {
    display: block;
    color: #fff;
    letter-spacing: 1px;
    text-align: left;
    margin: 20% 5% 5% 5%;
    font-size: 18px;
    font-weight: 400;
}

/* end of knowledge hub */

.iframe {
    width: 640px;
    height: 1400px;
}

.leadership-header-text {
    text-align: center;
    padding: 40% 5% 5% 5%;
    letter-spacing: 1px;
    font-family: 'open-sans', sans-serif;
    /* font-size: 700; */
    color: #fff;
}

.leadership-card-data:hover {
    top: 0px;
    height: 100%;
    margin: -1px;
    width: 100%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    transition: 2s;
    background-color: rgba(41, 128, 185, 0.5);
}

.leadership-para-data {
    display: none;
    padding: 10%;
    text-align: justify;
    font-family: 'open-sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.ul-list {
    margin-left: 2%;
    font-size: 400;
    font-family: 'open-sans', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

.leadership-card-data:hover .leadership-header-text {
    display: none;
}

.leadership-card-data:hover .leadership-para-data {
    display: block;
}

.leadership-card-data {
    height: 100%;
    background-color: rgba(41, 128, 185, 0.6);
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
}

.system-insight {
    background-image: url('../assets/images/food-system-insight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
}

.system-speaker {
    background-image: url('../assets/images/spear.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
}

.showcase {
    background-image: url('../assets/images/system-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
}

.tabs-content{
    background-color: #f6f6f6;
    padding: 0% 1% 5% 1%;
}

@media screen and (max-width: 425px) {
    .iframe {
        width: 100%;
        height: 1400px;
    }
    .col-md-4, .col-md-6 {
        margin-top: 5% !important;
    }
    .hub-overlay-head {
        padding-top: 55%;
    }
    .header-line {
        margin-left: 31%;
    }
    /* .overview-line{
        margin-left: 29%;
    } */
}

@media screen and (max-width: 380px) {
    .vision-img, .mission-img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 2500px) {
    .header-line {
        margin-left: 44.5%;
    }
    /* .overview-line{
        margin-left: 46.5%;
    } */
}