@font-face {
  font-family: "open-sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "open-sans-bold";
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "open-sans-italic";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "open-sans-light";
  src: url("../assets/fonts/Open_Sans/OpenSans-Light.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open-sans";
  overflow-x: hidden;
}

#header {
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* sidenav */
#sidenav {
  display: none;
  background-color: #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #2980b9;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* end-of-sidenav */
.nav-link {
  color: #fff;
  letter-spacing: 1px;
  font-family: "open-sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#nav-logo {
  width: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.overlay-text {
  padding: 20px;
}

.overlay-head {
  text-align: center;
  color: #ecf0f1;
  font-size: 42px;
  letter-spacing: 1px;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
}

.overlay-data {
  text-align: center;
  color: #ecf0f1;
  font-size: 21px;
  letter-spacing: 1px;
  padding: 0% 30px;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
}

.overlay-container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-banner {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 50rem;
  width: 100%;
  overflow: hidden;
}

.myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.data {
  padding: 7% 1% 5% 1%;
}

.about-left {
  padding: 0% 2% 0% 2%;
}

.about-us {
  height: 100%;
  padding: 5% 0% 5% 0%;
}

.more-link {
  color: #2980b9;
  text-align: center;
  margin: 5%;
  font-size: 12px;
  font-family: "open-sans" sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

.more-link:hover {
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.about-quote {
  font-family: "open-sans", sans-serif;
  font-size: 42px;
  color: #2980b9;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: left;
  margin-top: 20%;
}

.about-quote-icon-left {
  color: #6bb46d;
  position: relative;
  right: 0%;
}

.about-quote-icon-right {
  color: #6bb46d;
  position: relative;
  left: 40%;
}

.about-right {
  /* padding: 0% 5% 0% 0%; */
  text-align: center;
}

.about-head {
  font-family: "open-sans", sans-serif;
  letter-spacing: 5px;
  color: #2980b9;
  text-align: left;
  padding-left: 5%;
  font-size: 28px;
  font-weight: 400;
}

.about-para {
  letter-spacing: 1px;
  text-align: left;
  padding: 5% 0% 0% 5%;
  font-size: 22px;
  font-weight: 400;
  font-family: "open-sans", sans-serif;
}

.about-para-2 {
  letter-spacing: 1px;
  text-align: left;
  padding: 0% 5% 0% 5%;
  font-size: 22px;
  font-weight: 400;
  font-family: "open-sans", sans-serif;
}

#show-less,
#show-less1,
#show-less2,
#show-less3 {
  display: none;
  color: #6bb46d !important;
}

#show-more,
#show-more2,
#show-more3,
#show-more1 {
  color: #6bb46d !important;
}

#show-more:hover,
#show-less:hover,
#show-more1:hover,
#show-less1:hover,
#show-more2:hover,
#show-less2:hover,
#show-more3:hover,
#show-less3:hover {
  text-decoration: none;
}

.info {
  background-color: #f6f6f6;
}

.textbook-card-front {
  background-image: url("../assets/images/efarming1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 872px;
    height: 490px;*/
  border-radius: 2%;
}

.book-card-front {
  background-image: url("../assets/images/book-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*height: 490px;
    width: 424px;*/
  border-radius: 2%;
}

.prize-card-front {
  background-image: url("../assets/images/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*height: 490px;
    width: 424px;*/
  border-radius: 2%;
}

.award-card-front {
  background-image: url("../assets/images/farmer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*height: 490px;
    width: 424px;*/
  border-radius: 2%;
}

.leadership-card-front {
  background-image: url("../assets/images/innovation.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 490px;
    width: 424px;*/
  border-radius: 2%;
}

.nutrition-card-front {
  background-image: url("../assets/images/positive-nutrition.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 490px;
    width: 424px;*/
  border-radius: 2%;
}

.covid-card-front {
  background-image: url("../assets/images/covid.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*height: 490px;
    width: 872px;*/
  border-radius: 2%;
}

.card-overlay {
  background-color: rgba(45, 45, 45, 0.6);
  width: 100%;
  height: 100%;
}

.card-overlay-text {
  padding: 40% 5% 5% 5%;
}

.card-data {
  height: 490px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: relative;
  /* top: 400px; */
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  margin-left: -1px;
  margin-right: -1px;
}

.card-data:hover {
  top: 0px;
  height: 490px;
  margin: -1px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}

.textbook-card-front:hover,
.book-card-front:hover,
.prize-card-front:hover,
.award-card-front:hover,
.leadership-card-front:hover,
.nutrition-card-front:hover,
.covid-card-front:hover {
  -webkit-transition: 1s;
  transition: 1s;
  /* border-bottom-right-radius: 0%; */
}

.card-data .header-text {
  padding: 95% 5% 0% 5%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.card-data .f-header-text {
  padding: 45% 5% 0% 5%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.card-data:hover .header-text {
  display: none;
}

.card-data:hover .f-header-text {
  display: none;
}

.para-data {
  display: none;
}

.card-data:hover .para-data {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin: 35% 5% 5% 5%;
  font-size: 14px;
  font-weight: 600;
}

.f-para-data {
  display: none;
}

.card-data:hover .f-para-data {
  display: block;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin: 20% 5% 5% 5%;
  font-size: 14px;
  font-weight: 600;
}

.quotes {
  background-image: url("../assets/images/Bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100%;
  width: 100%;
  /* padding: 5%; */
}

.quote-overlay {
  background-color: rgba(41, 128, 185, 0.6);
  padding: 5%;
  height: 100%;
  width: 100%;
}

.quote-container {
  border-radius: 15px;
  background-color: rgba(222, 234, 236, 0.8);
  text-align: center;
  padding: 15% 5% 5% 5%;
  height: 15rem;
}

.dropdown-menu {
  position: absolute !important;
  left: -260px;
  width: 300px;
  background-color: #000;
}

.dropdown-menu li {
  text-align: center;
  padding: 30px 60px !important;
}

.dropdown-menu li a {
  font-size: 18px;
  font-family: "open-sans";
  letter-spacing: 1px;
  color: #ffffff;
}

.dropdown-menu li a:hover {
  text-decoration: none;
}

.dropdown-menu li:hover {
  color: #007bff;
}

.about-dropdown-menu {
  position: absolute !important;
  width: 300px;
  background-color: #000;
}

.about-dropdown-menu li {
  text-align: center;
  padding: 5% 5% 5% 5% !important;
}

.about-dropdown-menu li a {
  font-size: 16px;
  font-family: "open-sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2980b9;
}

.about-dropdown-menu li a:hover {
  text-decoration: none;
}

.about-dropdown-menu li:hover {
  background-color: #f6f6f6;
}

.para-text {
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  font-family: "open-sans-italic", sans-serif;
  font-weight: 400;
}

.name-author {
  font-family: "open-sans-light", sans-serif;
  letter-spacing: 1px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.quote-icon {
  font-size: 45px;
  color: #6bb46d;
  position: absolute;
  bottom: 85%;
  right: 45%;
}

.partners {
  text-align: center;
  height: 100%;
  background-color: #fff;
}

.partner-head {
  padding-top: 5%;
  font-family: "open-sans", sans-serif;
  letter-spacing: 5px;
  color: #2980b9;
  font-size: 27px;
  font-weight: 700;
}

.partner-line {
  border: 1px solid #6bb46d;
  width: 15rem;
  margin-left: 41%;
}

.partner-content {
  padding: 2% 0% 10% 0%;
}

/* scroll top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #3498db;
}

/* end */
/* footer */
.footer {
  height: 350px;
  background-color: #000;
}

.touch {
  text-align: center;
  padding: 5% 25% 2% 25%;
}

.touch-head {
  color: #fff;
  margin-bottom: 5%;
  font-family: "open-sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.subscribe {
  background-color: #2980b9;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  font-family: "open-sans", sans-serif;
  letter-spacing: 2px;
}

.input-mail {
  background-color: rgba(45, 45, 45, 0.6);
  border: none;
  border-radius: 25px;
  font-family: "open-sans", sans-serif;
  letter-spacing: 2px;
}

.input-mail:focus {
  background-color: rgba(45, 45, 45, 0.6);
  color: #fff;
}

.social-ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
}

.social-li {
  margin-left: 5px;
}

.social-icons {
  margin-top: 5%;
  margin-left: 21%;
  width: 40px;
  height: 40px;
}

.footer-terms {
  text-align: right;
  margin-right: 5%;
}

.privacy-link {
  color: #fff;
  font-size: 12px;
  font-family: "open-sans", sans-serif;
  font-weight: 400;
}

.privacy-link:hover {
  text-decoration: none;
  color: #2980b9;
}

.footer-copyrights {
  color: #fff;
  margin-left: 5%;
  font-size: 12px;
  font-weight: 400;
  font-family: "open-sans", sans-serif;
}

#nav-logo-mobile {
  margin-left: 1rem !important;
  width: 60px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2980b9;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3498db;
  border-radius: 0px;
}

.slider {
  padding: 2% 7% 5% 7%;
}

.second-row {
  margin-top: 5%;
  margin-left: 8%;
}

@media screen and (max-width: 425px) {
  .about-row {
    margin-top: -1.2rem;
    margin-left: 0px;
    width: 100%;
  }
  .about-us {
    padding: 15% 0% 5% 0%;
  }
  .second-row {
    margin-top: 0%;
    margin-left: -5% !important;
  }
  /* .data {
        margin-left: 8.5%;
    } */
  .overlay-text {
    padding: 20px;
  }
  .overlay-data {
    font-size: 25px;
  }
  .touch {
    padding: 5% 10% 2% 10%;
  }
  .social-icons {
    margin: 5% 0% 15% 15%;
    width: 20px;
    height: 20px;
  }
  .footer-terms {
    text-align: center;
  }
  .footer-copyrights {
    text-align: center;
  }
  .col-md-2,
  .quotes .col-md-6,
  .col-md-4,
  .col-md-3 {
    margin-top: 5%;
  }
  .partner-line {
    margin-left: 22%;
  }
  .slider {
    padding: 7%;
  }
  .second-row {
    margin-top: 0%;
  }
  .about-quote-icon-left {
    right: 35%;
  }
  .about-quote-icon-right {
    left: 35%;
  }
  .about-quote {
    font-size: 30px;
    width: 424px;
  }
  .covid-card-front {
    width: 400px;
  }
  .textbook-card-front {
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  #header {
    display: none;
  }
  #sidenav {
    display: block;
  }
  .second-row {
    margin-top: 5%;
    margin-left: 0%;
  }
  .about-quote {
    font-size: 30px;
    width: 324px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 760px) {
  .prize-card-front,
  .book-card-front,
  .award-card-front,
  .leadership-card-front,
  .nutrition-card-front {
    width: 300px;
  }
  .textbook-card-front,
  .covid-card-front {
    width: 624px;
  }
}

@media screen and (min-width: 2500px) {
  .prize-card-front,
  .book-card-front,
  .award-card-front,
  .leadership-card-front,
  .nutrition-card-front {
    width: 780px;
  }
  .textbook-card-front,
  .covid-card-front {
    width: 1626px;
  }
  .about-quote {
    margin-top: 10%;
  }
  .about-quote-icon-left {
    right: 5%;
  }
  .about-quote-icon-right {
    left: 55%;
  }
  .header-text {
    padding-top: 50% !important;
  }
  .f-header-text {
    padding-top: 25% !important;
  }
  .para-text {
    margin-top: -8% !important;
  }
  .para-data {
    margin-top: 25% !important;
  }
  .f-para-data {
    margin-top: 15% !important;
  }
}

/*team page css*/
.copyright p {
  font-size: 18px;
  line-height: 30px;
}

.vertical-menu {
  width: 100%;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #000;
  color: white;
}

table td {
  padding: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #256eb5;
  text-decoration: none;
}

.top-head {
  height: 24px;
  background: #161717;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-head ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
}

.top-head ul li {
  display: inline-block;
  font-size: 10px;
  margin-right: 20px;
}

.top-head ul li a {
  color: #fff;
  text-transform: uppercase;
}

#header {
  padding: 24px 3rem 0 3rem;
}

#header.stickyHeader {
  background: #000;
  margin-top: -24px;
}

#header.stickyHeader #nav-logo {
  width: 60px;
}

.partiner-nav.stickyHeader #nav-logo {
  width: 150px !important;
}

.partiner-nav #nav-logo {
  width: 260px;
}

#nav-logo {
  width: 100px;
  transition: width 0.4s ease, height 0.4s ease;
  -webkit-transition: width 0.4s ease, height 0.4s ease;
}

.nav-item {
  margin: 0;
  margin-left: 10px;
}

.dropdown-menu.show {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-item .dropdown {
  width: 100vw;
  position: fixed;
  left: 0;
}

.nav-item .dropdown .dropdown-menu {
  left: 0 !important;
  width: 100vw;
  margin: 0;
  padding: 30px;
  border: none;
  border-radius: 0;
}

.dropdown-menu li {
  width: 25%;
  text-align: left;
}

.dropdown-menu li a:hover {
  color: #007bff;
}

.nav-link {
  font-family: "open-sans-light";
  padding: 30px 20px !important;
}

.nav-link:hover {
  background: #000;
  color: #fff;
}

.has-submenu > a {
  padding: 30px 30px 30px 20px !important;
  position: relative;
}

.has-submenu > a:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.getInvolved {
  height: 44px;
  width: 161px;
  border-radius: 3px;
  background-color: #256eb5;
  padding: 15px 30px 15px 17px !important;
  color: #fff;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.getInvolved:after {
  top: 21px;
}

a.getInvolved:hover {
  background: #000;
  color: #fff;
}

.nav-item.show {
  background: #000;
  color: #fff;
}

.innerBg.partiner-page {
  height: 100vh;
}

.partinerContent {
  padding: 100px 0;
  background: #f6f6f6;
}

.partinerContent img {
  max-width: 100%;
}

.partinerContent p {
  font-size: 24px;
  text-align: justify;
}

.descriptionSec {
  padding: 70px 0 0 0;
  text-align: center;
}

.descriptionSec p {
  font-size: 24px;
  line-height: 40px;
}

.descriptionSec p a {
  color: #256eb5;
}

.food-system {
  padding: 100px 0;
  background: #f6f6f6;
}

.food-system h3 {
  color: #2a80ba;
  text-align: center;
  font-size: 32px;
  margin-bottom: 60px;
}

.food-system .box-row {
  margin-bottom: 60px;
}

.shadow-box {
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.09);
  padding: 35px 16px;
  text-align: center;
}

.shadow-box .icon {
  margin: 0 0 20px 0;
  min-height: 80px;
}

.shadow-box p {
  font-size: 16px;
}

.blueBgSec {
  background: url(../assets/images/blueBg.png) no-repeat top center;
  background-size: cover;
  height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blueBgSec p {
  font-size: 32px;
  letter-spacing: 0.82px;
  color: #fff;
  text-align: center;
}

.fff-section {
  padding: 100px 0;
  background: #f6f6f6;
}

.fff-section .blu-circle {
  width: 300px;
  height: 300px;
  background: #256eb5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fff-section h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

.fff-section h3 span {
  color: #2a80ba;
  display: block;
}

.fff-section p {
  font-size: 24px;
}

.clircle-row {
  padding: 60px 0;
}

.clircle-row h4 {
  font-family: "open-sans-bold";
}

.ic-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 160px;
  height: 160px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  position: relative;
}

.ic-circle:after {
  content: "";
  position: absolute;
  width: 43px;
  background: url(../assets/images/icon/arrow-path.svg) no-repeat right top;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 15px;
}

.clircle-row .col-md-4:last-child .ic-circle:after {
  display: none;
}

.our-partiners {
  padding: 60px 0;
}

.our-partiners h3 {
  font-size: 32px;
  color: #2a80ba;
  text-align: center;
}

footer {
  padding: 50px 0;
  background: #161717;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

footer .top-row {
  border-bottom: 1px solid #565656;
}

footer .top-row .social-ul {
  width: 100%;
}

footer .top-row .social-ul .social-icons {
  width: 16px;
  height: 15px;
  margin: 0;
}

footer .row-bottom {
  padding-top: 30px;
}

footer .row-bottom p {
  margin-bottom: 0;
}

.innerBg {
  height: 70vh;
  min-height: 70vh;
}

.innerBg img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.inner-section {
  padding: 60px 0 360px;
  background: url(../assets/images/contentBg.png) no-repeat bottom center;
  background-size: 100%;
}

.inner-section.visionBg {
  background: url(../assets/images/visionbg.png) no-repeat bottom center;
  background-size: 100%;
}

.imageContentSec {
  padding: 90px 0;
  background: #161717;
}

.imageContentSec img {
  max-width: 100%;
}

.imageContentSec p {
  color: #fff;
  font-size: 18px;
}

.collectiveSection {
  background: #f6f6f6;
  padding: 80px 0;
}

.collectiveSection h3 {
  margin-bottom: 30px;
}

.collectiveSection img {
  max-width: 100%;
}

.navBarMobile {
  display: none;
  background: #000;
}

@media only screen and (max-width: 767px) {
  .ic-circle:after {
    display: none;
  }
  .navBarMobile {
    display: block;
  }
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .descriptionSec img {
    max-width: 100%;
  }
  .overlay-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overlay-head {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .food-system {
    padding: 50px 0;
  }
  .overlay-text {
    padding: 20px;
  }
  .overlay-data {
    padding: 0;
  }
  .box-row .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .fff-section {
    padding: 50px 0;
    text-align: center;
  }
  .fff-section h3 {
    margin-top: 50px;
  }
  footer .row-bottom p {
    text-align: left !important;
  }
  .inner-section {
    padding: 60px 0 80px 0;
  }
  .imageContentSec .col-md-6:last-child {
    padding-top: 30px;
  }
}

.partiners-img {
  padding: 30px 0 0 0;
}

.partiners-img img {
  max-width: 100%;
}

.grayBg {
  padding: 100px 0;
  background: #161717;
}

.grayBg .box-row {
  padding-bottom: 50px !important;
}

.grayBg h4 {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 70px;
}

.grayBg p {
  color: #fff;
}

.grayBg p a {
  color: #256eb5;
}

.grayBg .shadow-box {
  background: #212629;
  color: #fff;
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navBarMobile {
    display: block;
  }
  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .box-row .col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 20px;
  }
  .fff-section .blu-circle {
    width: 190px;
    height: 190px;
  }
  .fff-section .blu-circle img {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  .nav-link {
    font-size: 14px;
  }
  .has-submenu > a {
    padding: 30px 25px 30px 11px !important;
    position: relative;
  }
  .nav-item {
    margin-left: 5px;
  }
  a.getInvolved {
    padding: 15px 30px 15px 17px !important;
    font-size: 14px;
  }
  #header {
    padding: 24px 2rem 0 2rem;
  }
  .nav-link {
    font-family: "open-sans-light";
    padding: 30px 10px !important;
  }
  .dropdown-menu li a {
    font-size: 14px;
  }
  .dropdown-menu li {
    text-align: center;
    padding: 40px !important;
  }
}

.burgerMenu {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 12px;
  bottom: 0;
  right: 20px;
  z-index: 99999999;
}

.burgermenu-button {
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bml_color {
  background-color: #fefefe;
}

.burgermenu_line {
  width: 100%;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
}

.bmactive_re .burgermenu_line:before {
  -webkit-animation-name: bmenulineanim_re;
          animation-name: bmenulineanim_re;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bml_color:before {
  background-color: #fefefe;
}

.burgermenu_line:before {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  margin-top: -40%;
}

.bml_color:after {
  background-color: #fefefe;
}

.bmactive_re .burgermenu_line:after {
  -webkit-animation-name: bmenulineanim_3_re;
          animation-name: bmenulineanim_3_re;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.burgermenu_line:after {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  margin-top: 40%;
}

/* sidenav */
#sidenav {
  /* size factor, 2 for double of sidebar */
  /* side nav width */
  /* increase/decrease to size the close btn */
  font-size: 0.9em;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 320px;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  /* dropdown style */
}

#sidenav a {
  color: #b3b3b3;
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  text-decoration: none !important;
}

#sidenav a:hover {
  color: #256eb5;
}

#sidenav .closebtn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.2em;
          flex: 0 0 1.2em;
  font-size: 2.2em;
  width: 1.5em;
  height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-tap-highlight-color: transparent;
  /* to remove the blinking of tap on mobile */
  text-decoration: none;
}

#sidenav .side-nav-items {
  width: 100%;
  font-size: 1.3em;
  padding: 1em 0;
  list-style: none;
}

#sidenav .side-nav-items .side-item {
  border-bottom: 1px solid #2f2f2f;
  padding: 10px 15px;
}

#sidenav .side-nav-items .side-item:first-child {
  margin-top: 0;
}

#sidenav.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#sidenav .dropdown {
  color: #b3b3b3;
}

#sidenav .dropdown > a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#sidenav .dropdown .dropdown-items {
  padding: 0 0 0 0.5em;
  max-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  width: 111%;
}

#sidenav .dropdown .dropdown-items .dropdown-item {
  white-space: inherit;
  padding: 5px 0;
}

#sidenav .dropdown .dropdown-items .dropdown-item::before {
  content: " ";
}

#sidenav .dropdown .dropdown-items .dropdown-item:hover {
  background: none;
  color: #256eb5 !important;
}

#sidenav .dropdown .dropdown-items .dropdown-item:focus {
  background: none;
}

#sidenav .dropdown:hover {
  /* remove if want to work the dropdown on click*/
}

#sidenav .dropdown:hover .dropdown-items {
  max-height: 400px;
}

/* changing scrollbar on desktop */
@media only screen and (min-width: 30rem) {
  #sidenav .side-nav-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    border-radius: 10px;
    background-color: #cccccc;
  }
  #sidenav .side-nav-items::-webkit-scrollbar {
    width: 0.4em;
    background-color: #757575;
  }
  #sidenav .side-nav-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .dropdown-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    border-radius: 10px;
    background-color: #cccccc;
  }
  .dropdown-items::-webkit-scrollbar {
    width: 0.4em;
    background-color: #757575;
  }
  .dropdown-items::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}
/*# sourceMappingURL=style.css.map */