@font-face {
    font-family: "open-sans";
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'open-sans-bold';
    src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'open-sans-italic';
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'open-sans-light';
    src: url('../assets/fonts/Open_Sans/OpenSans-Light.ttf');
}
.team-img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.team-card{
   height: 100%;
    background: #454545;
    border-radius: 10px;
    padding: 25px 30px;
    text-align: center;
    color: #fff;
}
.team-card .card-data {
    height: auto;
background-image: none;}
.team-card .card-data:hover {
    top: 0px;
    height: auto;
    margin: 0px;
    transition: none;
    border-radius: 0%;
    background-color: inherit;
}
.team-content-data{
    padding:1% 1% 1% 1%;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'open-sans',sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.team-tabs-content{
    height: 100%;
    padding:5% 2% 5% 2%;
	background:#f6f6f6;
}

.tab-content{
    height: 100% !important;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}
.modal-left{
	color:#212629;
	text-align:center;
	padding:60px;
}
.modal-right{padding:60px;
color:#212629;
font-size:20px;
}
.close {
    float: right;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
    color: #2A80BA;
    text-shadow: none;
    opacity: 1;
    right: 30px;
    position: absolute;
    z-index: 9999;
}
.team-card a{color:#fff;

text-decoration:none;}
@media (min-width: 576px){
.modal-dialog {
    max-width: 1096px;
    margin: 1.75rem auto;
}
}